h1 {
  color: #545a6f;
}
#root .navbar, .title-container {
  background: #64bbf9;
}

.category{
  width: 144px;
  height: 150px;
  color: #334357;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.27);
}

.icon {
  width:45px;
  height: 55px;
}

.category p{
  font-size: 13px
}

.circle {
  width: 200px;
  height: 200px;
  border: 12px solid #84c187;
  color: #2f576a;
  font-weight: bold;
  font-size: 29px;
}

.date {
  color: #2f576a;
  font-size: 28px
}

.cat-name {
  font-size: 15px;
  text-transform: capitalize;
}